# Week 3 - Segmenting and Clustering Neighborhoods in Toronto

_Gabriella Mansur_

#### We'll start by importing the packages we'll need.

In [152]:
import pandas as pd

#### Next, we can read the wikipedia table into a dataframe.

In [143]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header=0)[0]

#### Let's drop the rows which have no Borough assigned.

In [144]:
df = df[df['Borough'] != 'Not assigned']

#### Replace 'Not assigned' Neighbourhoods with its Borough name.

In [145]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df.loc[df['Neighbourhood'] == 'Not assigned', 'Borough']

#### Here we'll group the dataframe by Postcode.

In [146]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].agg([('Neighbourhood', ', '.join)]).reset_index()

#### Now let's peak at the resulting dataframe.

In [148]:
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

#### Let's check the shape of this dataframe to see if all is correct.

In [150]:
df.shape

(103, 3)